.about {
   padding: 440px 0 40px;
   background: linear-gradient(360deg, #000000 18.78%, rgba(0, 0, 0, 0) 98.53%), url(.jpg);
   border-radius: 0px;
   background-image: url("../img/main/about/about.bg.jpg");
   @include bg;
   position: relative;

   &__content {
      max-width: 600px;
      text-align: center;
      margin: 0 auto;
   }

   &__category {
      margin-bottom: 1px;
   }

   &__title {
      font-size: 54px;
      line-height: 59px;
      color: $titleColor;

      &+* {
         margin-top: 18px;
      }
   }
}